<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Dominic Schira">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Excel extensions</a>
        </div>
    </nav>
    <main role="main" class="container body-content">
        @RenderBody()
    </main>
    <div class="container mt-1 pt-3 border-top border-light">
        <footer>
            <p>&copy; @DateTime.Now.Year - dominic schira</p>
            <p>View this websites code on <a href="https://github.com/domshyra/ExcelExtensions" target="_blank">github</a>.</p>
        </footer>
    </div>
    <script src="~/public/vendors-node_modules_fortawesome_react-fontawesome_index_es_js-node_modules_bootstrap_dist_js-fded6a.bundle.js"></script>
    <script src="~/public/main.bundle.js"></script>
</body>
</html>