$primary: #001762;
$white: #fff;
$black: #1e1e1e;
$pink: #ff2263;
$indigo: #6610f2;


/*Syntax highlighting*/
$boolean-color: #e83e8c;
$enum-color: #4f9fcf;
$null-color: #2f6f9f;
$string-color: $pink;
$class-color: #17a2b8;
$number-color: $indigo;
$key-color: $black;
$primitive-color: #2f6f9f;